.affterBody{
    background:#f1f2f36c !important;
}
.body{
    background-color: #222831 !important;
    a{

        font-weight: bold;
        text-decoration: none;
        color: white ;
        &:hover{
            color: white ;

        }
    }
   
    
}