.body{
    height: 400px;
    margin: 30px 0px 0px 0px ;
    
}

.body2{
    margin: 15px 0px 50px 0px ;
   
    .commentsImgError{
        height: 300px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width:720px) and (min-width:20px) {
    
   .body{
    height: 500px !important;
    padding: 0px 16px;
   }

}
@media screen and (max-width:990px ) and (min-width:720px) {
    
   .body{
    height: 490px !important;
    padding: 0px 16px;
   }

}